html, body {
  background-color: Tan !important;
}
.container {
  background-color: purple;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #DEDEDE;
}
.col:nth-of-type(2) {
  background-color: gray;
  max-width: 20%;
}
.col {
  width: auto;
  padding: 20px;
  border: 2px solid #DEDEDE;
}
#clicker {
  background-color: yellow;
  border: 3px solid #000000;
}
